## part 1

### Print Formating

In [7]:
age = 23
name= 'abdulla'

In [12]:
print('i am {} years old and I am called {}'.format(age,name))

i am 23 years old and I am called abdulla

In [ ]:
# you can also manpulate the input by means of python coding

In [14]:
print('i am {x} years old and I am called {y}'.format(y=name,x=age))

i am 23 years old and I am called abdulla

In [15]:
# notice how in the above the order dosent matter (better)

### Locations in Variable

In [20]:
s ='abcdefghijk'

In [21]:
s[0:] #starting at 0 grab everything after it

'abcdefghijk'

In [22]:
s[:3] #now grab everything until 3 not including 3, so grab (0),(1) and (2)

'abc'

In [23]:
s[0:3] #s[star:end] start at 0 (start point) and end before 3 (end point)

'abc'

  ### Lists and how to adjust them

In [2]:
mylist = ['a','b','c']

*append*

In [4]:
mylist.append('d') # this adds to your list
print(mylist)

['a', 'b', 'c', 'd', 'd']

In [36]:
mylist[0] #the locations mentioned above works here similarly

'a'

In [40]:
mylist[0] = 'wewe' #in lists you can add,remove or/and adjust strings
print(mylist)

['wewe', 'b', 'c', 'd']

In [42]:
nested_list = [1,2,[3,4]] # this is a list nested in another list (list in list)
print(nested_list)

[1, 2, [3, 4]]

In [43]:
nested_list[2] # 2 is the postion of the list inside the list

[3, 4]

In [45]:
nested_list [2][0] #the second bracet is for the nested list

3

*for more complicated lists:*

In [54]:
nest1 =  [1,2,3,[4,5,['sup',6]]]

In [56]:
nest1[3][2][0]  # add print to remove the ''

'sup'

## part 2

### dictionary

In [2]:
d = {'key1':['item1',50],'key2':'item2','key3':[1,2,3]}

In [3]:
d['key1']

['item1', 50]

In [62]:
d['key3'][0:2]

[1, 2]

## Part 3

### list comprehension

appending values to lists .append

In [3]:
x = [1,2,3,4]

In [4]:
out = []

for num in x:
    out.append(num**2)
print(out)

[1, 4, 9, 16]

above ^ where adding a value for the list 'out' each time (appending values to 'out')

now there is a faster way to do this and it is called list comprehension see below, remamber the lecture abdulla q

In [7]:
out1 = [num**2 for num in x] # remamber that both of them are the same, 
                            # but this one is faster
print(out1)

[1, 4, 9, 16]

### function

In [26]:
def myname(p):
    print(p)

In [27]:
myname('abdulla')

abdulla

* adding strings in my function

In [33]:
def myname(p):
    print('hello ' + p)

In [34]:
myname('abdulla')

hello abdulla

* adding a defult value (no input added)

In [36]:
def myname(p ='stranger'):
    print('hello ' + p)

In [37]:
myname()

hello stranger

* if you want to store a value rather then just printing it you type "return" instead of "print"

In [38]:
def age(x):
    return(x)

In [39]:
user_age = age(10)

In [40]:
user_age

10

*you can add documantaiton strings: same as note in matlab, for future users to see what this fucntion do

## part 4

### - Map

In [46]:
def times2(var):
    return var*2

In [47]:
seq = [1,2,3,4,5]

In [51]:
map(times2,seq) # the result means thaat this is storied 
                # in the memory in this locatoon

In [49]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

### - Lambda exprestion

to rewrite a function faster: wil use the times2 function as above

In [53]:
t = lambda var:var*2

In [54]:
t(2)

4

now you can add map and lambda toghther:

In [55]:
list(map(lambda ww:ww*3,seq))

[3, 6, 9, 12, 15]

###  - Filter expression

In [58]:
list(filter(lambda num:num%2 ==0,seq)) #this well filter the seq for numbers 
                                       #that return a division remander of 0

[2, 4]

### - String object

In [67]:
s = 'Hey Abdulla how are you'

In [68]:
s.lower()  #lower case all letters

'hey abdulla how are you'

In [69]:
s.upper() #upper case all letters

'HEY ABDULLA HOW ARE YOU'

In [70]:
s.split() #split the varaible into a list

['Hey', 'Abdulla', 'how', 'are', 'you']

* this is important for text analysis

In [82]:
tweet = ' hello #hi #cure #cancer'

In [84]:
tweet.split('#')[3]

'cancer'

In [89]:
d = {'k1':1, 'K2':2}

In [91]:
d.keys() #return keys

dict_keys(['k1', 'K2'])

In [93]:
d.items()

dict_items([('k1', 1), ('K2', 2)])

In [94]:
d.values() #return values

dict_values([1, 2])

In [99]:
lst = [1,2,3]
print(lst)
lst.pop()
lst

[1, 2, 3]

[1, 2]

In [103]:
lst = [1,2,3,4,5]
item = lst.pop()
print(lst)
item

[1, 2, 3, 4]

5

In [104]:
lst.pop(1) #to chose which index to be removed

2

In [105]:
 'x' in [1,2,3] #will tell you if x is in the list ir not

False

### - Tuble unpacking

In [106]:
x = [(1,2),(3,4),(5,6)]

In [113]:
for x1,x2 in x:
    print(x2,x1)
    print(x2)

2 1
2
4 3
4
6 5
6